.cardList{
    width: 40%;
    margin: auto;
    display: flex;
    align-items:left;
    padding:1rem;
    /* background-color: teal; */
    border:1px solid rgb(189, 186, 186);
    cursor: pointer;
    color: white;

}
.listbox{
    width: 100%;
   margin: auto;
    background-color: rgb(243, 240, 240);
}
.cardImage{
    border-radius: 50%;
    margin-right: 12px;
}
.nametag{
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.emailtag{
    color: gray;
    font-size: 15px;

}
.phonenotag{
    color: gray;
}
